<!-- {% block content %} -->
<style> 
  
  body {
    background-image: linear-gradient(-90deg, #4A96D4,#6EDACC);
    /* background: #33E3FF  ; */
    font-family: "Lato" ;
  }
  .wrap {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    text-align: center;
  }
  </style>
  <div class ="wrap">
                  
                    <h2>Password Changed Successfully!<br>Next: Kindly login to the Light app from your phone with your new password. </h2>
                  </div>
                </div>
     
  </div>
<!-- {% endblock %} -->
